<a href="https://colab.research.google.com/github/Harshvardhan-Moundekar/Machine_Learning/blob/main/ML_P02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h5> Practical No. 02 </h5>
<h1> Import & Export </h>

In [1]:
#Python Libraries
import pandas as pd

In [5]:
#Importing Dataset
input_file = '/content/sales_data_sample.csv'
df = pd.read_csv(input_file, encoding='latin1')

print("Original File")
print(df.head())

Original File
   ORDERNUMBER  QUANTITYORDERED  PRICEEACH  ORDERLINENUMBER    SALES  \
0        10107               30      95.70                2  2871.00
1        10121               34      81.35                5  2765.90
2        10134               41      94.74                2  3884.34
3        10145               45      83.26                6  3746.70
4        10159               49     100.00               14  5205.27

         ORDERDATE   STATUS  QTR_ID  MONTH_ID  YEAR_ID  ...  \
0   2/24/2003 0:00  Shipped       1         2     2003  ...
1    5/7/2003 0:00  Shipped       2         5     2003  ...
2    7/1/2003 0:00  Shipped       3         7     2003  ...
3   8/25/2003 0:00  Shipped       3         8     2003  ...
4  10/10/2003 0:00  Shipped       4        10     2003  ...

                    ADDRESSLINE1  ADDRESSLINE2           CITY STATE  \
0        897 Long Airport Avenue           NaN            NYC    NY
1             59 rue de l'Abbaye           NaN          Reims   NaN
2  27 rue du Colonel Pierre Avia           NaN          Paris   NaN
3             78934 Hillside Dr.           NaN       Pasadena    CA
4                7734 Strong St.           NaN  San Francisco    CA

  POSTALCODE COUNTRY TERRITORY CONTACTLASTNAME CONTACTFIRSTNAME DEALSIZE
0      10022     USA       NaN              Yu             Kwai    Small
1      51100  France      EMEA         Henriot             Paul    Small
2      75508  France      EMEA        Da Cunha           Daniel   Medium
3      90003     USA       NaN           Young            Julie   Medium
4        NaN     USA       NaN           Brown            Julie   Medium

[5 rows x 25 columns]

In [9]:
#Deleting Uncessary Column for better understanding
new_df = df.drop(['ADDRESSLINE1', 'ADDRESSLINE2', 'POSTALCODE', 'CITY', 'TERRITORY', 'PHONE', 'STATE', 'CONTACTFIRSTNAME', 'CONTACTLASTNAME', 'CUSTOMERNAME', 'ORDERNUMBER', 'ORDERDATE', 'STATUS', 'QTR_ID', 'MONTH_ID', 'YEAR_ID', 'PRODUCTLINE', 'MSRP', 'DEALSIZE', 'PRODUCTCODE', 'COUNTRY' ], axis=1)

print("New File after deleting some columns")
print(new_df.head())

New File after deleting some columns
   QUANTITYORDERED  PRICEEACH  ORDERLINENUMBER    SALES
0               30      95.70                2  2871.00
1               34      81.35                5  2765.90
2               41      94.74                2  3884.34
3               45      83.26                6  3746.70
4               49     100.00               14  5205.27

In [10]:
#Performing Operation for calculating GST on sales
sales_data_sample = new_df

sales_data_sample['SGST'] = sales_data_sample['SALES'] * 0.09
sales_data_sample['CGST'] = sales_data_sample['SALES'] * 0.09
sales_data_sample['GST'] = sales_data_sample['SGST'] + sales_data_sample['CGST']

print("New File after calculating GST")
print(sales_data_sample.head())

New File after calculating GST
   QUANTITYORDERED  PRICEEACH  ORDERLINENUMBER    SALES      SGST      CGST  \
0               30      95.70                2  2871.00  258.3900  258.3900
1               34      81.35                5  2765.90  248.9310  248.9310
2               41      94.74                2  3884.34  349.5906  349.5906
3               45      83.26                6  3746.70  337.2030  337.2030
4               49     100.00               14  5205.27  468.4743  468.4743

        GST
0  516.7800
1  497.8620
2  699.1812
3  674.4060
4  936.9486

In [14]:
#Exporting data to new File

print("Updated file store in {sales_data_sample_final}")

final_file = '/content/sales_data_sample_final.csv'
sales_data_sample.to_csv(final_file, index = False)
sales_data_sample.head()

Updated file store in {sales_data_sample_final}

,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,SGST,CGST,GST
0,30,95.70,2,2871.00,258.3900,258.3900,516.7800
1,34,81.35,5,2765.90,248.9310,248.9310,497.8620
2,41,94.74,2,3884.34,349.5906,349.5906,699.1812
3,45,83.26,6,3746.70,337.2030,337.2030,674.4060
4,49,100.00,14,5205.27,468.4743,468.4743,936.9486

<div class="markdown-google-sans">
  <h2>BONUS ASSIGNMENT</h2>
</div>

In [17]:
#Import data using Pandas
import pandas as pd
input = '/content/Titanic-Dataset.csv'
df = pd.read_csv(input)

#First 5 rows
print(df.head())

#Handling Missing Values
print(df.isnull().sum())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [18]:
#for delete those rows where any cell value is empty
df = df.dropna()
print(df.isnull().sum())

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

In [20]:
#Perform EDA